.container {
  padding: 0 0 1em 0;
  margin: 0.5em;
  width: 220px;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover {
  width: 100%;
}

.container h2,
.like {
  padding: 0 1em;
}

h2 {
  font-size: 18px;
}

.like {
  width: 20px;
}

.link {
  text-decoration: none;
  color: var(--black);
  text-align: center;
}
